<div class="app-header">

  <div class="app-main-header-container">
  	<a routerLink="home" routerLinkActive="active" class="app-main-header__logo">Lacy's</a>


  	<div class="app-main-header-button-group">
      <button mat-icon-button aria-label="Example icon button with a heart icon" *ngIf="!isUserLogIn" (click)="openDialog()">
        <span class="material-icons">login</span>
      </button>

      <ng-container *ngIf="isUserLogIn">
        <span class="material-icons" title="My wishlist">
          favorite_border
        </span>

        <span class="material-icons" title="My account">
          account_circle
        </span>

        <span class="material-icons" title="Shopping cart">
          shopping_bag
        </span>

      </ng-container>

	  </div>
	</div>

	<div class="app-sub-header-menu-container">
		<span>
      <a routerLink="home" routerLinkActive="active" class="app-sub-header-menu__item">Home
      </a>
    </span>
		<span>
      <a routerLink="clothing" routerLinkActive="active" class="app-sub-header-menu__item app-sub-header-menu__item--clothing">Clothing
      </a>
    </span>
		<span>
      <a routerLink="shoes" routerLinkActive="active" class="app-sub-header-menu__item">Shoes
      </a>
    </span>
		<span class="app-sub-header-menu__item">Sale</span>
    <span>
      <a routerLink="contact-us" routerLinkActive="active" class="app-sub-header-menu__item">Contact Us
      </a>
    </span>
	</div>


</div>
