<div class="app-new">
	
  <div class="app-new-collection-list">
    <div *ngFor="let newCollectionItem of newCollectionItems; let i = index;" class ="app-new-collection-list__item app-new-collection-list__item-{{i}}">

        <img src="{{newCollectionItem.src}}" class="app-new-collection-list__img">

        <span [ngClass]="{'app-new-collection-list__heart--selected': newCollectionItem.wishlist}" class="app-new-collection-list__heart material-icons" title="Add to wishlist" (click)="addToWishList(newCollectionItem)">
            {{newCollectionItem.heart}}
        </span>

        <mat-accordion>
        	<mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
            	<mat-panel-title>
            		Price
              </mat-panel-title>
              <mat-panel-description>
              	{{newCollectionItem.price}} 
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{newCollectionItem.context}}</p>
          </mat-expansion-panel>
        </mat-accordion>
    
    </div>
  </div>

</div>




