@mixin displayflex($display,$flexDirection,$justifyContent,$alignItems){
  display: $display;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin img($width,$height,$objectFit){
  width: $width;
  height: $height;
  object-fit: $objectFit;
}

.app-new{
	margin-top: 90px; 

	.app-new-collection-list{
		@include displayflex(flex,row,space-around,center);
    flex-wrap: wrap;
		margin-bottom: 40px;


    .app-new-collection-list__heart{
      position: absolute;
      right: 0;
      top: 0;
      margin: 6px;
      padding: 3px;
      cursor: pointer;
      color: silver;
      opacity: 0;
      transition: 0.25s linear all;
}


		.app-new-collection-list__item{
			position: relative;
      margin-bottom: 30px;

      &:hover {
        .app-new-collection-list__heart {
          opacity: 1;
          background-color: white;

          &:hover {
            color: black;
          }

          &--selected {
            color: red;
          }
        }
      }
		}

    .app-new-collection-list__img{
      @include img(300px,480px,cover);
    }
  }
}



