.app-contact-us{
  margin-top: 90px;
  background: linear-gradient(-45deg, #BAADA3, #CAA384, #F1A264);
  background-size: 400% 400%;
  animation: background-gradient 5s ease infinite;

	
	.app-contact-us-container{
		 display: flex;
		 flex-direction: row;
		 justify-content: center;
		 margin: 0 30px;
	}

	.app-contact-us-form{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 500px;

		.app-contact-us__input{
			width: 100%;
			color: #424141;
		}
		.app-contact-us__label{
			font-size: 13px;
			font-family: 'Mukta', sans-serif;
			text-transform: uppercase;
			color: black;
		}

		.app-contact-us__send-message{
			display: block;
			margin: 20px 0 ;
			padding: 8px 0;
			width: 500px;
			border:none;
			font-size: 20px;
			font-family: serif;
			color: #836044;
			cursor: pointer;

			&:active {
				transform: translateY(2px);
			}
		}
	}

	.app-contact-us-info{
		margin-left: 14px;
		padding: 10px 100px;
		font-family: 'Noto Sans JP', sans-serif;

		.app-contact-us-info__sub-title{
			display: block;
			margin: 8px;
			padding: 0 15px; 
			font-size: 40px;
			text-transform: capitalize;
			text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
		}

		.app-contact-us-info__context{
			margin: 8px;
			padding: 0 15px;
			font-size: 20px;	
		}

		.app-contact-us-info__context-email{
			color: black;
		}
	}

	.app-contact-us__location-container{
		display: flex;
		justify-content: center;

		.app-contact-us__location{
			width: 800px;
			height: 150px;
		}
	}
}

@keyframes background-gradient {
  0% {
    background-position: 0% 50%;

  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}