<div class="app-home">

  <div class="app-home-animation-container">
    <div class="app-home-animation__img-parent">   
    </div>
    <span class="app-home-animation__context">
      <span class="app-home-animation__title">FW new
      </span><br>
      <span class="app-home-animation__sub-title">Fashion coat
      </span><br>
    </span>
    <div class="app-home-animation__img-child">   
    </div>
  </div>


  
    <div class="app-home-slideshow">
      <div class="app-home-slideshow-container">

        <div *ngFor="let slideShowItem of slideShowItems; let i = index;" class ="app-home-slideshow__item app-home-slideshow__item-{{i}}">
          <img src="{{slideShowItem.src}" class="app-home-slideshow__img">
        </div>

      </div>

      <button class="button display-right" (click)="plusDivs(1)">&#10094;</button>
      <button class="button display-left" (click)="plusDivs(-1)">&#10095;</button>
    </div> 



  <div class="app-home-new-collection-container">
    <div *ngFor="let new of newCollectionList; let i = index;" class ="app-home-new-collection__item app-home-new-collection__item-{{i}}">

      <img src="{{new.src}}" class="app-home-new-collection__img">
    </div>
    <p class="app-home-new-collection__context">New Collection</p>
  </div>



  <div class="app-home-trend-container">
    <div class="app-home-trend-list">
      <div *ngFor="let trend of trendList; let i = index;" class ="app-home-trend-list__item app-home-trend-list__item-{{i}}">
          <img src="{{trend.src}}" class="app-home-trend-list__img">

      </div>
    </div>
    <div class="app-home__trend-list-context">
      <div class="app-home__trend">trend</div>
      <div class="app-home__outfits">outfits </div>
    </div>
  </div>


  <div class="app-home-shop-list">
    <div *ngFor="let shop of shopList; let i = index;" class ="app-home-shop-list__item app-home-shop-list__item-{{i}}">

        <img src="{{shop.src}}" class="app-home-shop-list__img">

        <span [ngClass]="{'app-home-favorite--selected': shop.wishlist}" class="app-home-favorite material-icons" title="Add to wishlist" (click)="addToWishlist(shop)">
            {{shop.heart}}
        </span>

        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Price
              </mat-panel-title>
              <mat-panel-description>
                {{shop.price}} 
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{shop.context}}</p>
          </mat-expansion-panel>
        </mat-accordion>
    </div>
  </div>


  <div class="app-home-wanted-clothing-container">
    <div class="app-home-wanted-list">
      <div *ngFor="let wanted of wantedList; let i = index;" class ="app-home-wanted-list__item app-home-wanted-list__item-{{i}}">

        <img src="{{wanted.src}}" class="app-home-wanted-list__img">

      </div>
    </div>
    <div class="app-home-wanted-list__context">
      most wanted
    </div>
  </div>

</div>